:root {
	--digitColor: rgb(1,8,79);
	--digitHoverColor: #eca514;

	--mathOpColor: rgb(167,60,90);
	--mathOpHoverColor: #eca514;

	--totalColor: rgb(99,30,80);
	--totalHoverColor: #eca514;

	--clearButtonColor: rgb(255,121,84);
	--clearHoverColor: #eca514;

	--short: 'Short Stack', cursive;
	--patrick: 'Patrick Hand SC', cursive;
	--marg: 'Margarine', cursive;
}

body{
    padding:0;margin: 0;
    background-color: #6C98B6;
}
p{
    background-color: #6C98B6;
    padding: 0;margin:0;
    text-align: center;
}

.container{
    padding: 1em;
}
.row,
.column{
    box-sizing: border-box;
}
.row{
    margin-bottom: 1em;
}
.row:before, 
.row:after{
    content: "";
    display: table;
}
.row:after{
    clear: both;
}
[class*=column]{
    position: relative;
    float:left;
}
[class*=column] + [class*=column]{
    margin-left: 1.6%;
}
.column-1{
    width: 6.866666667%;
}
.column-2{
    width: 15.3333333333%;
}
.column-3{
    width: 23.8%;
}
.column-4{
    width: 32.2666666667%;
}
.column-5{ 
    width: 40.7333333333%;
}
.column-6{
    width: 49.2%;
}
.column-7{
    width: 57.6666666667%;
}
.column-8{
    width: 66.1333333333%;
}
.column-9{
    width: 74.6%;
}
.column-10{
    width: 83.06666667%;
}
.column-11{
    width: 91.5333333333%;
}
.column-12{
    width:100%;
}
/*offset*/
.column-offset-1{
    margin-left: 8.466666667%;
}
.column-offset-2{
    margin-left: 16.93333333%;
}
.column-offset-3{
    margin-left: 25.4%;
}
.column-offset-4{
    margin-left: 33.866666667%;
}
.column-offset-5{
    margin-left: 42.333333333%;
}
.column-offset-6{
    margin-left: 50.8%;
}
.column-offset-7{
    margin-left: 59.266666667%;
}
.column-offset-8{
    margin-left: 67.733333333%;
}
.column-offset-9{
    margin-left: 76.2%;
}
.column-offset-10{
    margin-left: 84.666666667%;
}
.column-offset-11{
    margin-left: 93.133333333%;
}



.block{
	height: 100px;
	width: 100px;
	background-color: magenta;
}
p{
	padding-top: 1em;
	padding-bottom: 1em;
}

#window{
	background-color: white;
	border:1px solid black;
}

.digit p, .operation p, #clear p, .total p {
	border: 1px solid grey;
	border-radius: 10px;
	color: white;
	font-size: 20px;
	font-family: var(--short);
}
.digit p{
	background-color: var(--digitColor);
}
.digit p:hover{
	background-color: var(--digitHoverColor);
}
#header{
	font-size: 50px;
	font-family: var(--short);
	color: white;

}
#clear p{
	background-color: var(--clearButtonColor);
}
#clear p:hover{
	background-color: var(--clearHoverColor);
}
.total p{
	background-color: var(--totalColor);
}
.total p:hover{
	background-color: var(--totalHoverColor);
}
.operation p{
	background-color: var(--mathOpColor);
}
.operation p:hover{
	background-color: var(--mathOpHoverColor);
}

@media screen and (max-width: 414px){
	.column-offset-4{
    	margin-left: 0;
	}
	.column-1{
    	width: 22%;
	}
	.column-4{
    	width: 95%;
	}
	#header{
		font-size: 20px;
	}
}